h1  {
    color:deeppink;
    font-size: 1em;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
  }
  
  table {
    margin: .3em;
    width: 290px;
  }
  
  th {
    padding: .2em;
  }
  
  td {
    background-color:deepskyblue;
    border: 1px solid:dodgerblue;
    padding-left: .5em;
    padding-right: .5em;
  }
  
  #trHeader {
    color:indianred;
    text-decoration: underline;
  }
  
  .centerCell {
    text-align: center;
  }